<div class="q-container">
  <div class="q-header">QA Queue</div>
  <ul class="q-body" *ngIf ="ads?.length > 0">
      <li class="q-element started" dropdown *ngFor ="let routing of ads">
      
        <span class="text-success"> #{{routing.orderNumber}}</span>
        <div class="divider"></div>
        <div *ngIf="!loading">
            <i class="fa fa-fw fa-file custom clickable" 
               (click)="viewDetails(routing)"
               tooltip="click to view order details"
               placement="right"
              >
            </i>
            
            <i class="fa fa-fw fa-history custom clickable"
               (click)="viewStatus(routing)"
               tooltip="click to view history"
               placement="right"
               >
            </i>
            <i class="fa fa-fw fa-play custom clickable" 
               tooltip="click to start task"
               placement="right"
               (click) ="startTask(routing)"
               *ngIf ="canStart(routing)">
            </i>
            <i class="fa fa-fw fa-check custom clickable" 
                tooltip="click to approve ad"
                placement="right" 
                *ngIf="canApproveOrReject(routing)"
                (click)="approveTask(routing)">
            </i>
            <i class="fa fa-fw fa-times custom clickable" 
                tooltip="click to put ad on rework"
                placement="right" 
                *ngIf="canApproveOrReject(routing)"
                (click)="showRejectModal(routing)">
            </i>
        </div>
      </li>
  </ul>
</div>

<div bsModal #order_detail="bs-modal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Order Details</h4>
                <button type="button" class="close" aria-label="Close" (click)="order_detail.hide()" >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <div class="form-field">
                  <div>
                      <strong>Control #</strong>
                   </div>
                   <div class="form-control">{{selectedAd.orderNumber}}</div>
              </div>
              <div class="form-field">
                  <div>
                      <strong>Ad Type</strong>
                   </div>
                   <div class="form-control">{{selectedAd.adType}}</div>
              </div>
              <div class="form-field">
                  <div>
                      <strong>Advertiser</strong>
                   </div>
                   <div class="form-control">{{selectedAd.advertiser}}</div>
              </div>
              <div class="form-field">
                <div>
                    <strong>Levels</strong>
                  </div>
                  <div class="form-control">{{selectedAd.levels}}</div>
              </div>
              
              <div class="form-field">
                 
               <div>
                  <strong>Substrate</strong>
               </div>
               <div class="form-control">{{selectedAd.substrate}}</div>
               
              </div>

      
            <div class="modal-footer">
                <button type="button" class="btn btn-custom"  (click)="order_detail.hide()">Ok</button>
            </div>
        </div>
    </div>
  </div>
  </div>

  <div bsModal #order_status="bs-modal" class="modal fade">
      <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Task History</h4>
                  <button type="button" class="close" aria-label="Close" (click)="order_status.hide()" >
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <div >
                      <table class="table table-hover table-bordered table-striped">
                          <thead>
                              <th>Name</th>
                              <th>Role</th>
                              <th>Start</th>
                              <th>End</th>
                              <th>Status</th>
                              <th>Remarks</th>
                          </thead>
                          <tbody>
                              <tr *ngFor ="let history of taskHistory">
                                  <td>{{history.name}}</td>
                                  <td>{{history.role}}</td>
                                  <td>{{history.start | date :'MMM d, yyyy h:mm:ss a'}}</td>
                                  <td>{{history.end | date :'MMM d, yyyy h:mm:ss a'}}</td>
                                  <td>{{history.status == null? 'ON GOING' : history.status}}</td>
                                  <td>{{history.remarks}}</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
                

                
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-custom"  (click)="order_status.hide()">Ok</button>
              </div>
          </div>
      </div>
    </div>

    <div bsModal #reject_modal="bs-modal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Rework Details</h4>
                    <button type="button" class="close" aria-label="Close" (click)="reject_modal.hide()" >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form [formGroup]="rejectForm" (ngSubmit)="rejectTask()">

                
                    <div class="modal-body">
                        <div>
                            <div>
                                <strong>Remarks </strong>
                                <span class="text-error text-danger"
                                        [ngClass]="{'has-error':!rejectForm.controls['remarks'].valid && rejectForm.controls['remarks'].touched}" > *This is required </span>
                            </div>
                            <textarea name="reject-remarks"
                                        [formControl]="rejectForm.controls['remarks']" 
                                        id="reject-remarks" 
                                        cols="30" 
                                        rows="10"
                                        class="form-control">

                            </textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-custom" [disabled]="!rejectForm.valid">Submit</button>
                        <button type="button" class="btn btn-custom"  (click)="reject_modal.hide()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
        </div>