<div class="q-container">
    <div class="q-header">Completed</div>
    <ul class="q-body" *ngIf ="ads?.length > 0">
        <li class="q-element started" dropdown *ngFor ="let routing of ads">
        
          <span class="text-success"> #{{routing.orderNumber}}</span>
          <div class="divider"></div>
          <div>
              <i class="fa fa-fw fa-file custom clickable" 
                 (click)="viewDetails(routing)"
                 tooltip="click to view order details"
                 placement="right"
                >
              </i>
              
              <i class="fa fa-fw fa-history custom clickable"
                 (click)="viewStatus(routing)"
                 tooltip="click to view history"
                 placement="right"
                 >
              </i>
              <i class="fa fa-fw fa-check custom clickable"
                (click)="dispatchAd(routing)"
                *ngIf="canDispatch(routing)"
                tooltip="click to dispatch Ad"
                placement="right"
              >
            </i>
          </div>
        </li>
    </ul>
  </div>

  <div bsModal #order_detail="bs-modal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Order Details</h4>
                <button type="button" class="close" aria-label="Close" (click)="order_detail.hide()" >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <div class="form-field">
                  <div>
                      <strong>Control #</strong>
                   </div>
                   <div class="form-control">{{selectedAd.orderNumber}}</div>
              </div>
              <div class="form-field">
                  <div>
                      <strong>Ad Type</strong>
                   </div>
                   <div class="form-control">{{selectedAd.adType}}</div>
              </div>
              <div class="form-field">
                  <div>
                      <strong>Advertiser</strong>
                   </div>
                   <div class="form-control">{{selectedAd.advertiser}}</div>
              </div>
              <div class="form-field">
                <div>
                    <strong>Levels</strong>
                  </div>
                  <div class="form-control">{{selectedAd.levels}}</div>
              </div>
              
              <div class="form-field">
                 
               <div>
                  <strong>Substrate</strong>
               </div>
               <div class="form-control">{{selectedAd.substrate}}</div>
               
              </div>

      
            <div class="modal-footer">
                <button type="button" class="btn btn-custom"  (click)="order_detail.hide()">Ok</button>
            </div>
        </div>
    </div>
  </div>
  </div>

  <div bsModal #order_status="bs-modal" class="modal fade">
      <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Task History</h4>
                  <button type="button" class="close" aria-label="Close" (click)="order_status.hide()" >
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <div >
                      <table class="table table-hover table-bordered table-striped">
                          <thead>
                              <th>Name</th>
                              <th>Role</th>
                              <th>Start</th>
                              <th>End</th>
                              <th>Status</th>
                              <th>Remarks</th>
                          </thead>
                          <tbody>
                              <tr *ngFor ="let history of taskHistory">
                                  <td>{{history.name}}</td>
                                  <td>{{history.role}}</td>
                                  <td>{{history.start | date :'MMM d, yyyy h:mm:ss a'}}</td>
                                  <td>{{history.end | date :'MMM d, yyyy h:mm:ss a'}}</td>
                                  <td>{{history.status == null? 'ON GOING' : history.status}}</td>
                                  <td>{{history.remarks}}</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
                

                
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-custom"  (click)="order_status.hide()">Ok</button>
              </div>
          </div>
      </div>
    </div>
